* {margin: 0; padding: 0; box-sizing: border-box;}

header h1 {
    justify-content: center;
    background-image: linear-gradient(to right, rgb(0, 102, 255) , yellow);
    text-align: center;
    color: white;
}


/* button design for all the buttons with cities on them*/
.cities button {
    margin-left: 15px;
    margin-top: 20px;
    width: 95%;
    background-color: rgb(189, 183, 183);
    padding: 4px;
    border-radius: 5px;
    border: none;
  }

  /* Shifting everything in the "search for a city" container to the right"*/
.searchCities {
    margin-left: 1px;
  }

.searchBtn {
    background-color: rgb(65, 136, 243);
    text-align: center;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 4px;
    margin-top: 15px;
    width: 100%;
}

.searchBox {
    width: 100%;
    padding: 7px;
    border-radius: 5px;

}


